# Google OAuth (Web client)
# Create at https://console.cloud.google.com/apis/credentials
# Authorized JavaScript origins: http://localhost:5173
# Authorized redirect URIs: http://localhost:5173/google-callback.html
VITE_GOOGLE_CLIENT_ID=
